@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base {
  :root {
    --bg: 255 255 255;
    --text: 0 0 0;
     --btn-bg: 209 213 219;  
  }
  [data-theme="dark"] {
    --bg: 20 20 20;
    --text: 230 230 230;
    --btn-bg: 55 65 81;   
  }
  /* Optional: fallback auto-theme while waiting for JS */
  @media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      --bg: 20 20 20;
      --text: 230 230 230;
      --btn-bg: 55 65 81;   
    }
  }
}
